extends base 
include _conversationCard
include _messageCard

block content
  header.header
    nav.nav.nav--home
      a.nav__el(href='/messages') Messages
    .header__logo
      span.logo chatli
    nav.nav.nav--user
      if user
        a.nav__el.nav__el--logout Log out
        .nav__el
          img.nav__user-img(src='/img/default.png' alt='user')
          span= user.name.split(' ')[0]
      else
        a.nav__el(href='/login') Log in
        a.nav__el.nav__el--cta(href='#') Sign up
  main.messenger
    .chatMenu
      input.chatMenu__Input(type='text', placeholder='Search for friends')
      each conversation, index in conversations 
        +conversationCard(conversation, index)

    .chatBox
      .chatBox__top
        each message in firstConversation.firstConversationMessages 
          +messageCard(message, user.id)
      .chatBox__bottom
        textarea.chatMessage__Input(name="message",placeholder="Aa", cols="30", rows="10", data-conversation-id=`${firstConversation.firstConversationId}`, data-user-id=`${user.id}`) 
        button.chatSubmit__button Send
    .chatOnline
      .chatOnline__friend
        .chatOnline__imgContainer
          img.chatOnline__img(src='/img/default.png' alt='user')
          .chatOnline__Badge  
        span.chatOnline__Name Karim
      .chatOnline__friend
        .chatOnline__imgContainer
          img.chatOnline__img(src='/img/default.png' alt='user')
          .chatOnline__Badge  
        span.chatOnline__Name Meriem
      .chatOnline__friend
        .chatOnline__imgContainer
          img.chatOnline__img(src='/img/default.png' alt='user')
          .chatOnline__Badge  
        span.chatOnline__Name Ahlam