extends base 
include _conversationCard
include _messageCard

block content
  header.header
    nav.nav.nav--home
      a.nav__el(href='/messages') Messages
    .header__logo
      span.logo chatli
    nav.nav.nav--user
      if user
        a.nav__el.nav__el--logout Log out
        .nav__el
          img.nav__user-img(src='/img/default.png' alt='user')
          span= user.name.split(' ')[0]
      else
        a.nav__el(href='/login') Log in
        a.nav__el.nav__el--cta(href='#') Sign up
  main.messenger
    .chatMenu
      input.chatMenu__Input(type='text', placeholder='Search for friends')
      if conversations.length > 0
        each conversation, index in conversations 
          +conversationCard(conversation, index, user.id)
      else
        .no__conversations There is no conversation.

    .chatBox
      .chatBox__top
        if firstConversation
          each message in firstConversation.firstConversationMessages 
            +messageCard(message, user.id)
        else 
          .no__messages There is no message, start new one
      .chatBox__bottom
        - var currConvId = 'cool'
        - var currConvReceiverId = 'do'
          if firstConversation
            - currConvId = firstConversation.firstConversationId
            - var index = firstConversation.firstConversationMembers[0].id === user.id ? 1 : 0
            - currConvReceiverId = firstConversation.firstConversationMembers[index].id

        textarea.chatMessage__Input(name="message",placeholder="Aa", cols="30", rows="10", data-conversation-id=`${currConvId}`, data-user-id=user.id, data-receiver-id=`${currConvReceiverId}`) 
        button.chatSubmit__button Send
    .chatOnline